{% extends 'base.html.twig' %}

{% block title %}New Social{% endblock %}

{% block body %}
    <h1>Create new Social</h1>

    {{ include('social/_form.html.twig') }}

    <a href="{{ path('social_index') }}">back to list</a>
{% endblock %}
