<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ricardo Da Silva Pereira - Web & Mobile Web Developer{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>Ricardo Da Silva Pereira</header>
        {% block body %}{% endblock %}
    </body>
</html>
